@for $i from 1 through 2 {
  main > div > div > div:nth-child(#{$i}) {
    animation: bottom 0.5s ease-in-out #{$i/4 + 0.25}s backwards;
  }
}

@keyframes bottom {
  0% {
    position: relative;
    bottom: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    bottom: 0px;
    opacity: 1;
  }
}

#progress {
  animation: progress 1.75s ease-in-out 1.25s backwards;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 81.5%;
  }
}

#message {
  animation: message 1s ease-in-out 1.25s backwards;

  & > h1 {
    animation: bottom 1.75s ease-in-out 1.25s backwards;
  }
}

@keyframes message {
  0% {
    top: 3px;
    opacity: 0;
  }
  100% {
    top: -47px;
    opacity: 1;
  }
}

#messageMobile {
  animation: messageMob 1s ease-in-out 1.25s backwards;

  & > h1 {
    animation: bottom 1.75s ease-in-out 1.25s backwards;
  }
}

@keyframes messageMob {
  0% {
    bottom: -86px;
    opacity: 0;
  }
  100% {
    bottom: -36px;
    opacity: 1;
  }
}
